/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Panels */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;

  .panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;

    .content {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      color: #360404;

      .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }

      img {
        box-shadow: 0 0 20px 20px  rgb(176,224,230);
        width: 35%;
        position: absolute;
        top: 40%;
        right: -5%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .bottom {
    background-color:  rgb(224,255,255);
    z-index: 1;

    .description {
      right: 5%;
    }
  }

  .top {
    background-color:  rgb(0,183,235);
    z-index: 2;
    width: 50vw;

    .description {
      left: 5%;
    }
  }

  .handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }

  &.skewed {
    .handle {
      top: 50%;
      transform: rotate(30deg) translateY(-50%);
      height: 200%;
      transform-origin: top;
    }

    .top {
      transform: skew(-30deg);
      margin-left: -1000px;
      width: calc(50vw + 1000px);

      .content {
        transform: skew(30deg);
        margin-left: 1400px;
        .banner-right {
          padding-top: 50px;
      
          .banner-right-background {
            background: url("../../../../assets/banner-background.png") top center/contain
              no-repeat;
            padding-top: 85%;
            right: 5%;
          }
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 900px) {
  body {
    font-size: 75%;
  }
}
