:root {
  --blue-medium-color: #45c3d2;
  --white-color: #fff;
  --black-bolor: #333;
  --black-medium-color: #666;
  --yellow-color: #ffc419;
  --title-font-size: 2.4rem;
  --border-color: #ccc;
  --border-color-light: #eee;
  --gray-medium-color: #f9f9f9;
  --bold-color: #666;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive  */
.grid {
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid-full-width {
  width: 100%;
  display: block;
}

/* Test  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.col-3 {
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

.col-6 {
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}

.col-8 {
  padding-left: 5px;
  padding-right: 5px;
  width: 66.6667%;
}

.input-area {
  .date-picker {
    height: 38px;
    width: 250px;
    position: relative;
    .date-picker-select {
      position: absolute;
    }
    .date-picker-text {
      display: block;
      border-radius: 2px;
      text-align: center;
      outline: none;
      position: absolute;
      border: 1px solid var(--border-color);
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--blue-medium-color);
  color: white;
}
