:root {
  --blue-medium-color: #45c3d2;
  --white-color: #fff;
  --black-bolor: #333;
  --yellow-color: #ffc419;
  --title-font-size: 2.4rem;
  --border-color: #ccc;
  --gray-medium-color: #f9f9f9;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.btn {
  max-width: 142px;
  height: 34px;
  background-color: var(--gray-medium-color);
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.btn {
  &.btn--normal {
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: var(--white-color);
    }
  }

  &.btn--size-s {
    font-size: 12px;
    padding: 0 8px;
    margin-bottom: 4px;
    border: 1px solid var(--border-color);
  }

  &.btn--primary {
    color: var(--white-color);
    background-color: var(--blue-medium-color);
  }

  &.btn-disabled {
    cursor: default;
    color: #949494;
    background: #c3c3c3;
  }
}

/* Responsive  */
.grid {
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid-full-width {
  width: 100%;
  display: block;
}

/* Test  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.col-3 {
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

.col-6 {
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}

.col-8 {
  padding-left: 5px;
  padding-right: 5px;
  width: 66.6667%;
}
